services:
  nats-core:
    profiles:
      - all
      - nats
    image: nats:latest
    container_name: nats-core
    restart: always
    ports:
      - 4222:4222
    volumes:
      - ./nats-config/core.conf:/etc/nats/nats.conf
      - ./nats-config/accounts.conf:/etc/nats/accounts.conf
    command:
      - --name=fuel-streams-nats-core
      - --js
      - --config=/etc/nats/nats.conf
      - -D
    env_file:
      - ./../../.env

  nats-publisher:
    profiles:
      - all
      - nats
    image: nats:latest
    container_name: nats-publisher
    restart: always
    ports:
      - 4333:4222
    volumes:
      - ./nats-config/publisher.conf:/etc/nats/nats.conf
      - ./nats-config/accounts.conf:/etc/nats/accounts.conf
    command:
      - --name=fuel-streams-nats-publisher
      - --js
      - --config=/etc/nats/nats.conf
      - -D
    env_file:
      - ./../../.env
    depends_on:
      - nats-core

  localstack:
    profiles:
      - all
      - localstack
    image: localstack/localstack:latest
    container_name: localstack
    restart: always
    ports:
      - "4566:4566" # LocalStack main gateway port
      - "4572:4572" # S3 service port (optional)
    environment:
      - SERVICES=s3 # Enable just S3 service
      - DEBUG=1
      - AWS_ACCESS_KEY_ID=${AWS_ACCESS_KEY_ID:-test}
      - AWS_SECRET_ACCESS_KEY=${AWS_SECRET_ACCESS_KEY:-test}
      - DEFAULT_REGION=${AWS_REGION:-us-east-1}
      - DEFAULT_BUCKETS=${AWS_S3_BUCKET_NAME:-fuel-streams-local}
    volumes:
      - ./localstack-data:/var/lib/localstack
      - /var/run/docker.sock:/var/run/docker.sock
      - ./init-localstack.sh:/etc/localstack/init/ready.d/init-localstack.sh
    env_file:
      - ./../../.env

  cockroach:
    image: cockroachdb/cockroach:v23.2.2
    ports:
      - "26257:26257"
      - "8080:8080"
    command: start-single-node --insecure
    volumes:
      - cockroach_data:/cockroach/cockroach-data
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080/health?ready=1"]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  cockroach_data:
