{{- $webserver := .Values.webserver }}
{{- $service := $webserver.service }}
{{- $tls := $webserver.tls }}
{{- $certificate := $tls.certificate }}
{{- $ingress := $tls.ingress }}
{{- if and $webserver.enabled $service.host $tls.enabled }}
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  {{- include "k8s.metadata" (dict "context" . "suffix" "-webserver-cert") | nindent 2 }}
  annotations:
    {{- include "set-value" (dict "context" $certificate "path" "annotations") | nindent 4 }}
  labels:
    {{- include "fuel-streams.labels" (dict "name" "webserver" "context" .) | nindent 4 }}
    {{- include "set-value" (dict "context" $certificate "path" "labels") | nindent 4 }}
    app.kubernetes.io/component: webserver
spec:
  secretName: {{ include "fuel-streams.fullname" . }}-webserver-tls
  duration: {{ $certificate.duration }}
  renewBefore: {{ $certificate.renewBefore }}
  dnsNames:
    - {{ $service.host }}
  issuerRef:
    name: {{ $certificate.issuer }}
    kind: ClusterIssuer
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  {{- include "k8s.metadata" (dict "context" . "suffix" "-webserver-cert-validator") | nindent 2 }}
  labels:
    {{- include "fuel-streams.labels" (dict "name" "webserver" "context" .) | nindent 4 }}
    {{- include "set-value" (dict "context" $ingress "path" "labels") | nindent 4 }}
    app.kubernetes.io/component: webserver
  annotations:
    kubernetes.io/ingress.class: nginx
    ingress.kubernetes.io/ssl-redirect: "true"
    ingress.kubernetes.io/proxy-body-size: "0"
    acme.cert-manager.io/http01-ingress-class: nginx
    cert-manager.io/common-name: {{ $service.host }}
    cert-manager.io/cluster-issuer: {{ $certificate.issuer }}
    nginx.ingress.kubernetes.io/ssl-redirect: "true"
    nginx.ingress.kubernetes.io/proxy-body-size: "0"
    nginx.ingress.kubernetes.io/backend-protocol: "HTTP"
    nginx.ingress.kubernetes.io/websocket-services: {{ include "fuel-streams.fullname" . }}-webserver
    external-dns.alpha.kubernetes.io/hostname: {{ $service.host }}
    external-dns.alpha.kubernetes.io/cloudflare-proxied: "false"
    {{- include "set-value" (dict "context" $ingress "path" "annotations") | nindent 4 }}
spec:
  ingressClassName: nginx
  tls:
    - hosts:
        - {{ $service.host }}
      secretName: {{ include "fuel-streams.fullname" . }}-webserver-tls
  rules:
    - host: {{ $service.host }}
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: {{ include "fuel-streams.fullname" . }}-webserver
                port:
                  number: {{ $service.port }}
{{- end }}