# Redis Configuration
REDIS_URL=redis://:test@localhost:6379
REDIS_PASSWORD=test

# AWS S3 Configuration
AWS_STORAGE_ENV=local
AWS_ENDPOINT_URL=http://localhost:4566
AWS_REGION=us-east-1
AWS_S3_BUCKET_NAME=fuel-streams-local
AWS_ROLE_ARN=""
STORAGE_MAX_RETRIES=5
