KEYPAIR=generated-p2p-secret
RELAYER=https://sepolia.infura.io/v3/infura-api-key
RELAYER_V2_LISTENING_CONTRACTS=0x768f9459E3339A1F7d59CcF24C80Eb4A711a01FB
RELAYER_DA_DEPLOY_HEIGHT=5791365
RELAYER_LOG_PAGE_SIZE=2000
SYNC_HEADER_BATCH_SIZE=100
NATS_URL=nats://localhost:4222
NATS_ADMIN_PASS=generated-secret
NATS_PUBLIC_PASS=generated-secret
