# Common Configuration
KEYPAIR=generated-p2p-secret
NATS_URL=nats://localhost:4222
NATS_ADMIN_PASS=generated-secret
NATS_SYSTEM_PASS=generated-secret
AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test
AWS_REGION=us-east-1
AWS_ENDPOINT_URL=http://localhost:4566
AWS_S3_BUCKET_NAME=fuel-streams-testnet
USE_ELASTIC_LOGGING=false
USE_PUBLISHER_METRICS=true
PUBLISHER_MAX_THREADS=16
ELASTICSEARCH_URL=http://127.0.0.1:9200
ELASTICSEARCH_USERNAME=elastic
ELASTICSEARCH_PASSWORD=generated-secret

# Mainnet Configuration
MAINNET_RELAYER=https://mainnet.infura.io/v3/<infura-api-key>
MAINNET_RELAYER_V2_LISTENING_CONTRACTS=0xAEB0c00D0125A8a788956ade4f4F12Ead9f65DDf
MAINNET_RELAYER_DA_DEPLOY_HEIGHT=20620434
MAINNET_RELAYER_LOG_PAGE_SIZE=2000
MAINNET_SYNC_HEADER_BATCH_SIZE=100
MAINNET_RESERVED_NODES=/dnsaddr/mainnet.fuel.network

# Testnet Configuration
TESTNET_RELAYER=https://sepolia.infura.io/v3/<infura-api-key>
TESTNET_RELAYER_V2_LISTENING_CONTRACTS=0x01855B78C1f8868DE70e84507ec735983bf262dA
TESTNET_RELAYER_DA_DEPLOY_HEIGHT=5827607
TESTNET_RELAYER_LOG_PAGE_SIZE=2000
TESTNET_SYNC_HEADER_BATCH_SIZE=100
TESTNET_RESERVED_NODES=/dns4/p2p-testnet.fuel.network/tcp/30333/p2p/16Uiu2HAmDxoChB7AheKNvCVpD4PHJwuDGn8rifMBEHmEynGHvHrf,/dns4/p2p-testnet.fuel.network/tcp/30333/p2p/16Uiu2HAmHnANNk4HjAxQV66BNCRxd2MBUU89ijboZkE69aLuSn1g,/dns4/p2p-testnet.fuel.network/tcp/30333/p2p/16Uiu2HAmVE468rpkh2X1kzz8qQXmqNFiPxU5Lrya28nZdbRUdVJX
