.DS_Store
**/target
/script/out
**/*.swp
.terraform
*.tfstate*
*.terraform.lock.hcl*
.envrc
.direnv
.cov
lcov.info
.env
node_modules/
docker/db*
tmp
**/**/docker/db*
build_rs_cov.profraw
profile.json
.rust-version
coverage/
docs/
**/**/charts/**.tgz
values-secrets.yaml
values-publisher-env.yaml
.vscode
.sqlx
.aider*
file_contents.txt
**/file_contents.txt
localstack-data
