[files]
extend-exclude = [
    "crates/fuel-streams-publisher/README.md",
    "crates/fuel-streams-publisher/src/elastic.rs",
    "crates/fuel-indexer/*",
    "docker/chain-config",
    "docker/monitoring",
    "helm",
    "cluster",
]
