[workspace]
default-members = ["crates/fuel-streams"]
resolver = "2"
members = [
    "benches/*",
    "crates/*",
    "crates/fuel-streams-macros/subject-derive",
    "examples",
    "tests",
]

[workspace.package]
authors = ["Fuel Labs <contact@fuel.sh>"]
keywords = ["data-stream", "blockchain", "cryptocurrencies"]
edition = "2021"
homepage = "https://fuel.network/"
license = "Apache-2.0"
repository = "https://github.com/fuellabs/data-systems"
rust-version = "1.81.0"
version = "0.0.13"

[workspace.dependencies]
actix-cors = "0.7"
actix-server = "2.5"
actix-web = "4.9"
anyhow = "1.0"
async-nats = "0.38"
async-trait = "0.1"
assert_matches = "1.5.0"
bytes = "1.9"
chrono = { version = "0.4", features = ["serde"] }
clap = { version = "4.5", features = ["derive", "env"] }
dotenvy = "0.15"
displaydoc = "0.2"
futures = "0.3"
fuel-core-bin = { version = "0.40.2", features = ["p2p", "relayer", "rocksdb"] }
fuel-core = { version = "0.40.2", features = ["p2p", "relayer", "rocksdb"] }
fuel-core-client = { version = "0.40.2" }
fuel-core-importer = { version = "0.40.2" }
fuel-core-storage = { version = "0.40.2" }
fuel-core-types = { version = "0.40.2", features = ["test-helpers", "serde"] }
fuel-core-services = { version = "0.40.2" }
futures-util = "0.3"
itertools = "0.13"
mockall = "0.13"
mockall_double = "0.3.1"
hex = "0.4"
pretty_assertions = "1.4"
rand = "0.8"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
sha2 = "0.10"
strum = "0.26"
strum_macros = "0.26"
tokio = { version = "1.41", features = ["full"] }
tokio-stream = "0.1.16"
tracing = "0.1"
tracing-subscriber = "0.3"
tracing-actix-web = "0.7"
thiserror = "2.0"

fuel-streams = { path = "crates/fuel-streams" }
fuel-data-parser = { version = "0.0.13", path = "crates/fuel-data-parser" }
fuel-streams-core = { version = "0.0.13", path = "crates/fuel-streams-core" }
fuel-streams-publisher = { version = "0.0.13", path = "crates/fuel-streams-publisher" }
fuel-streams-ws = { version = "0.0.13", path = "crates/fuel-streams-ws" }
fuel-streams-macros = { version = "0.0.13", path = "crates/fuel-streams-macros" }
subject-derive = { version = "0.0.13", path = "crates/fuel-streams-macros/subject-derive" }

# Workspace projects
[workspace.metadata.cargo-machete]
ignored = ["fuel-core", "tokio"]

[profile.release]
opt-level = 3
lto = "thin"
strip = true
debug = 0
panic = 'abort'
codegen-units = 1
incremental = false

[profile.dev]
split-debuginfo = "unpacked"
lto = false
incremental = true
opt-level = 0
