[package]
name = "fuel-nats"
version = "0.0.1"

[workspace]
members = ["crates/nats-stream"]
resolver = "2"

[workspace.package]
authors = ["Fuel Labs <contact@fuel.sh>"]
keywords = ["data-stream", "blockchain", "cryptocurrencies"]
edition = "2021"
homepage = "https://fuel.network/"
license = "Apache-2.0"
repository = "https://github.com/FuelLabs/data-systems"
version = "0.0.1"

[workspace.dependencies]
anyhow = "1.0"
clap = { version = "4.5", features = ["derive"] }
futures = "0.3"
tokio = { version = "1.38", features = ["full"] }

[profile.release]
opt-level = 3
lto = "thin"
strip = true
debug = 0
panic = 'abort'
codegen-units = 1
incremental = false

[profile.dev]
split-debuginfo = "unpacked"
lto = false
incremental = true
opt-level = 0
