[workspace]
default-members = ["crates/fuel-streams"]
members = ["benchs/*", "crates/*", "crates/fuel-streams-macros/subject-derive", "tests"]
resolver = "2"

[workspace.package]
authors = ["Fuel Labs <contact@fuel.sh>"]
keywords = ["data-stream", "blockchain", "cryptocurrencies"]
edition = "2021"
homepage = "https://fuel.network/"
license = "Apache-2.0"
repository = "https://github.com/fuellabs/data-systems"
version = "0.0.1"

[workspace.dependencies]
anyhow = "1.0"
async-nats = "0.35.1"
async-trait = "0.1.81"
bytes = "1.7.1"
chrono = { version = "0.4.38", features = ["serde"] }
clap = { version = "4.5", features = ["derive", "env"] }
dotenvy = "0.15"
displaydoc = "0.2.5"
futures = "0.3"
fuel-core-bin = { version = "0.32.1", features = ["p2p", "relayer", "rocksdb"] }
fuel-core = { version = "0.32.1", features = ["p2p", "relayer", "rocksdb"] }
fuel-core-client = { version = "0.32.1" }
fuel-core-importer = { version = "0.32.1" }
fuel-core-storage = { version = "0.32.1" }
fuel-core-types = { version = "0.32.1", features = ["test-helpers", "serde"] }
fuel-core-services = "0.32.1"
futures-util = "0.3.30"
pretty_assertions = "1.4.0"
rand = "0.8"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0.117"
strum = "0.26"
strum_macros = "0.26"
tokio = { version = "1.39", features = ["full"] }
tracing = "0.1.40"
thiserror = "1.0"

[workspace.metadata.cargo-machete]
ignored = ["fuel-core"]

[profile.release]
opt-level = 3
lto = "thin"
strip = true
debug = 0
panic = 'abort'
codegen-units = 1
incremental = false

[profile.dev]
split-debuginfo = "unpacked"
lto = false
incremental = true
opt-level = 0
