[workspace]
default-members = ["crates/fuel-streams"]
resolver = "2"
members = ["crates/*", "crates/fuel-streams-macros/subject-derive", "examples", "tests"]

[workspace.package]
authors = ["Fuel Labs <contact@fuel.sh>"]
keywords = ["data-stream", "blockchain", "cryptocurrencies"]
edition = "2021"
homepage = "https://fuel.network/"
license = "Apache-2.0"
repository = "https://github.com/fuellabs/data-systems"
rust-version = "1.81.0"
version = "0.0.15"

[workspace.dependencies]
actix-cors = "0.7"
actix-server = "2.5"
actix-web = "4.9"
anyhow = "1.0"
async-nats = "0.38"
async-trait = "0.1"
bytes = "1.9"
chrono = { version = "0.4", features = ["serde"] }
clap = { version = "4.5", features = ["derive", "env"] }
dotenvy = "0.15"
displaydoc = "0.2"
futures = "0.3"
fuel-core-bin = { version = "0.40.2", default-features = false, features = [
    "p2p",
    "relayer",
    "rocksdb",
] }
fuel-core = { version = "0.40.2", default-features = false, features = [
    "p2p",
    "relayer",
    "rocksdb",
] }
fuel-core-client = { version = "0.40.2", default-features = false, features = ["std"] }
fuel-core-importer = { version = "0.40.2" }
fuel-core-storage = { version = "0.40.2" }
fuel-core-types = { version = "0.40.2", default-features = false, features = ["std", "serde"] }
fuel-core-services = { version = "0.40.2", default-features = false, features = ["test-helpers"] }
futures-util = "0.3"
hex = "0.4"
pretty_assertions = "1.4"
num_cpus = "1.16"
rand = "0.8"
serde = { version = "1.0", features = ["derive"] }
rayon = "1.10.0"
serde_json = "1.0"
sha2 = "0.10"
strum = "0.26"
strum_macros = "0.26"
tokio = { version = "1.41", features = ["full"] }
tracing = "0.1"
tracing-subscriber = "0.3"
tracing-actix-web = "0.7"
thiserror = "2.0"
regex = "1.10.3"
moka = { version = "0.12.9", features = ["sync"] }
bincode = "1.3"
test-case = "3.3"
sqlx = { version = "0.8.3", default-features = false, features = [
    "runtime-tokio",
    "postgres",
    "tls-native-tls",
    "macros",
] }

fuel-data-parser = { version = "0.0.15", path = "crates/fuel-data-parser" }
fuel-streams = { version = "0.0.15", path = "crates/fuel-streams" }
fuel-streams-core = { version = "0.0.15", path = "crates/fuel-streams-core" }
fuel-streams-macros = { version = "0.0.15", path = "crates/fuel-streams-macros" }
fuel-streams-nats = { version = "0.0.15", path = "crates/fuel-streams-nats" }
fuel-streams-store = { version = "0.0.15", path = "crates/fuel-streams-store" }
fuel-streams-executors = { version = "0.0.15", path = "crates/fuel-streams-executors" }
subject-derive = { version = "0.0.15", path = "crates/fuel-streams-macros/subject-derive" }
sv-publisher = { version = "0.0.15", path = "crates/sv-publisher" }
sv-consumer = { version = "0.0.15", path = "crates/sv-consumer" }
sv-webserver = { version = "0.0.15", path = "crates/sv-webserver" }

# Workspace projects
[workspace.metadata.cargo-machete]
ignored = ["fuel-core", "tokio"]

[profile.release]
opt-level = 3
lto = "thin"
strip = true
debug = 0
panic = 'abort'
codegen-units = 1
incremental = false

[profile.dev]
split-debuginfo = "unpacked"
lto = false
incremental = true
opt-level = 0
