[workspace]
default-members = ["crates/fuel-streams"]
members = [
    "benches/*",
    "crates/*",
    "crates/fuel-streams-macros/subject-derive",
    "examples/*",
    "tests",
]
resolver = "2"

[workspace.package]
authors = ["Fuel Labs <contact@fuel.sh>"]
keywords = ["data-stream", "blockchain", "cryptocurrencies"]
edition = "2021"
homepage = "https://fuel.network/"
license = "Apache-2.0"
repository = "https://github.com/fuellabs/data-systems"
rust-version = "1.79.0"
version = "0.0.10"

[workspace.dependencies]
anyhow = "1.0.89"
async-nats = "0.37.0"
async-trait = "0.1.83"
bytes = "1.7.2"
chrono = { version = "0.4.38", features = ["serde"] }
clap = { version = "4.5.19", features = ["derive", "env"] }
dotenvy = "0.15"
displaydoc = "0.2.5"
futures = "0.3.31"
fuel-core-bin = { version = "0.37", features = ["p2p", "relayer", "rocksdb"] }
fuel-core = { version = "0.37", features = ["p2p", "relayer", "rocksdb"] }
fuel-core-client = { version = "0.37" }
fuel-core-importer = { version = "0.37" }
fuel-core-storage = { version = "0.37" }
fuel-core-types = { version = "0.37", features = ["test-helpers", "serde"] }
fuel-core-services = "0.37"
futures-util = "0.3.31"
pretty_assertions = "1.4.1"
rand = "0.8"
serde = { version = "1.0.210", features = ["derive"] }
serde_json = "1.0.128"
strum = "0.26"
strum_macros = "0.26"
tokio = { version = "1.40", features = ["full"] }
tracing = "0.1.40"
thiserror = "1.0.64"

fuel-streams = { path = "crates/fuel-streams" }
fuel-data-parser = { version = "0.0.10", path = "crates/fuel-data-parser" }
fuel-streams-core = { version = "0.0.10", path = "crates/fuel-streams-core" }
fuel-streams-publisher = { version = "0.0.10", path = "crates/fuel-streams-publisher" }
fuel-streams-macros = { version = "0.0.10", path = "crates/fuel-streams-macros" }
subject-derive = { version = "0.0.10", path = "crates/fuel-streams-macros/subject-derive" }

# Workspace projects
[workspace.metadata.cargo-machete]
ignored = ["fuel-core", "tokio"]

[profile.release]
opt-level = 3
lto = "thin"
strip = true
debug = 0
panic = 'abort'
codegen-units = 1
incremental = false

[profile.dev]
split-debuginfo = "unpacked"
lto = false
incremental = true
opt-level = 0
