[package]
versioned_files = ["Cargo.toml"]
changelog = "CHANGELOG.md"

[[package.assets]]
path = "artifacts/fuel-nats-stream-x86_64-unknown-linux-gnu.tgz"

# ------------------------------------------------------------
# Workflow to get the current version
# ------------------------------------------------------------
[[workflows]]
name = "get-version"
help_text = "Get the current version of the project"

[[workflows.steps]]
type = "Command"
command = "echo \"$VERSION\""
variables = { "$VERSION" = "Version" }

# ------------------------------------------------------------
# Workflow to create a new changeset
# ------------------------------------------------------------
[[workflows]]
name = "changeset"

[[workflows.steps]]
type = "CreateChangeFile"

# ------------------------------------------------------------
# Workflow to create a new release
# ------------------------------------------------------------
[[workflows]]
name = "prepare-release"

[[workflows.steps]]
type = "PrepareRelease"

[[workflows.steps]]
type = "Command"
command = "git switch -c $RELEASE_BRANCH"
shell = true

[[workflows.steps]]
type = "Command"
command = "./scripts/bump-version.sh $VERSION && git add ."
variables = { "$VERSION" = "Version" }
shell = true

[[workflows.steps]]
type = "Command"
command = "git commit -m \"ci(release): preparing $VERSION\""
variables = { "$VERSION" = "Version" }

[[workflows.steps]]
type = "Command"
command = "git push --force --set-upstream origin $RELEASE_BRANCH"
shell = true

[[workflows.steps]]
type = "CreatePullRequest"
base = "main"
variables = { "$VERSION" = "Version" }

[workflows.steps.title]
template = "ci(release): preparing v$VERSION"
variables = { "$VERSION" = "Version" }

[workflows.steps.body]
template = "v$VERSION"
variables = { "$VERSION" = "Version" }

# ------------------------------------------------------------
# Workflow to release a new version
# ------------------------------------------------------------
[[workflows]]
name = "release"

[[workflows.steps]]
type = "Release"
variables = { "$VERSION" = "Version" }

# ------------------------------------------------------------
# GitHub configuration
# ------------------------------------------------------------
[github]
owner = "fuellabs"
repo = "data-systems"
