{{- define "k8s.hpa" -}}
{{- $root := .context -}}
{{- $service := .service -}}
{{- $autoscaling := $service.autoscaling -}}
{{- $name := $service.name -}}
{{- if $autoscaling.enabled }}
---
apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  {{- include "k8s.resource-metadata" (dict "root" $root "context" $service.context "name" $name) | nindent 2 }}
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: {{ include "fuel-streams.fullname" $root }}-{{ $service.name }}
  minReplicas: {{ $autoscaling.minReplicas }}
  maxReplicas: {{ $autoscaling.maxReplicas }}
  behavior:
    scaleDown:
      stabilizationWindowSeconds: {{ $autoscaling.behavior.scaleDown.stabilizationWindowSeconds | default 300 }}
      policies:
      - type: Percent
        value: {{ $autoscaling.behavior.scaleDown.percentValue | default 100 }}
        periodSeconds: {{ $autoscaling.behavior.scaleDown.periodSeconds | default 15 }}
    scaleUp:
      stabilizationWindowSeconds: {{ $autoscaling.behavior.scaleUp.stabilizationWindowSeconds | default 0 }}
      policies:
      - type: Percent
        value: {{ $autoscaling.behavior.scaleUp.percentValue | default 100 }}
        periodSeconds: {{ $autoscaling.behavior.scaleUp.periodSeconds | default 15 }}
      - type: Pods
        value: {{ $autoscaling.behavior.scaleUp.podValue | default 4 }}
        periodSeconds: {{ $autoscaling.behavior.scaleUp.periodSeconds | default 15 }}
      selectPolicy: Max
  metrics:
    {{- if $autoscaling.targetCPUUtilizationPercentage }}
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: {{ $autoscaling.targetCPUUtilizationPercentage }}
    {{- end }}
    {{- if $autoscaling.targetMemoryUtilizationPercentage }}
    - type: Resource
      resource:
        name: memory
        target:
          type: Utilization
          averageUtilization: {{ $autoscaling.targetMemoryUtilizationPercentage }}
    {{- end }}
{{- end }}
{{- end }} 