[package]
name = "fuel-streams-publisher"
authors = { workspace = true }
keywords = { workspace = true }
edition = { workspace = true }
homepage = { workspace = true }
license = { workspace = true }
repository = { workspace = true }
version = { workspace = true }
description = "Fuel library for publishing data streams from events that happen in Fuel chain(s)"

[dependencies]
anyhow = { workspace = true }
async-nats = { workspace = true }
bincode = { workspace = true }
bytes = { workspace = true }
clap = { workspace = true }
dotenvy = { workspace = true }
fuel-core = { workspace = true }
fuel-core-bin = { workspace = true }
fuel-core-client = { workspace = true }
fuel-core-importer = { workspace = true }
fuel-core-services = { workspace = true }
fuel-core-storage = { workspace = true }
fuel-core-types = { workspace = true }
fuel-data-parser = { path = "../fuel-data-parser" }
fuel-streams-core = { path = "../fuel-streams-core", features = ["test-helpers"] }
fuel-streams-macros = { path = "../fuel-streams-macros" }
futures-util = { workspace = true }
rand = { workspace = true }
serde_json = { workspace = true }
strum = { workspace = true }
strum_macros = { workspace = true }
subject-derive = { path = "../fuel-streams-macros/subject-derive" }
tokio = { workspace = true }
tracing = { workspace = true }
