[package]
name = "fuel-streams"
description = "A library for working with streams of Fuel blockchain data"
authors = ["Fuel Labs <contact@fuel.sh>"]
keywords = ["data-stream", "blockchain", "cryptocurrencies"]
edition = "2021"
homepage = "https://fuel.network/"
license = "Apache-2.0"
repository = "https://github.com/fuellabs/data-systems"
version = "0.0.4"

[dependencies]
async-trait = { workspace = true }
displaydoc = { workspace = true }
fuel-streams-core = { workspace = true }
futures = { workspace = true }
thiserror = { workspace = true }
tokio = { workspace = true }

[features]
default = []
test-helpers = []
