apiVersion: v2
appVersion: "1.0"
description: A Helm chart for Kubernetes
name: fuel-streams
version: 0.8.8
dependencies:
  - name: nats
    version: 1.2.8
    repository: https://nats-io.github.io/k8s/helm/charts/
    alias: nats-core
    condition: nats-core.enabled
