config:
  createRoles: true
  healthChecks: true

commonConfigMap:
  enabled: true
  data:
    USE_METRICS: "false"

dune:
  enabled: true

  url: "http://localhost:4000/v1/graphql"

  image:
    repository: sv-dune
    pullPolicy: IfNotPresent
    tag: latest

  storage:
    size: 10Gi
    storageClass: "standard" # Use default storage class

  env:
    DB_PATH: /mnt/storage

  config:
    replicaCount: 1
    resources:
      requests:
        cpu: 100m
        memory: 256Mi
      limits:
        cpu: 500m
        memory: 512Mi