[package]
name = "fuel-message-broker"
description = "A message broker for the Fuel Streams"
authors.workspace = true
edition.workspace = true
homepage.workspace = true
keywords.workspace = true
license.workspace = true
repository.workspace = true
rust-version.workspace = true
version.workspace = true

[features]
default = []
test-helpers = []

[dependencies]
async-nats.workspace = true
async-trait.workspace = true
bytes.workspace = true
dotenvy.workspace = true
futures.workspace = true
rand.workspace = true
serde.workspace = true
serde_json.workspace = true
thiserror.workspace = true
tracing.workspace = true

[dev-dependencies]
pretty_assertions.workspace = true
serde_json.workspace = true
tokio.workspace = true
