[registries.crates-io]
protocol = "sparse"

# This is needed to enable cross-platform docker builds, as cargo doesn't use the correct linker sometimes:
# https://github.com/rust-lang/cargo/issues/4133
[target.aarch64-unknown-linux-gnu]
linker = "aarch64-linux-gnu-gcc"

[profile.profiling]
inherits = "release"
debug = 1

[profile.ci]
inherits = "dev"
debug = 0
opt-level = 0
debug-assertions = true
codegen-units = 32
incremental = true
rpath = false
lto = false
panic = 'unwind'
overflow-checks = true

[net]
git-fetch-with-cli = true
parallel = true
