{{- $publisher := .Values.publisher }}
apiVersion: v1
kind: ConfigMap
metadata:
  {{- include "k8s.metadata" (dict "context" . "suffix" "-network-config") | nindent 2 }}
  {{- include "set-field-and-value" (dict "context" $publisher "field" "annotations" "path" "config.annotations") | nindent 2 }}
  labels:
    {{- include "fuel-streams.labels" . | nindent 4 }}
    {{- include "set-value" (dict "context" $publisher "path" "config.labels") | nindent 4 }}
data:
  P2P_PORT: "30333"
  DB_PATH: {{ .Values.publisher.storage.mountPath | quote }}
  POA_INSTANT: "false"
  SERVICE_NAME: "Publisher Node ({{ $publisher.network }})"
  {{- if eq $publisher.network "mainnet" }}
  RELAYER_V2_LISTENING_CONTRACTS: "0xAEB0c00D0125A8a788956ade4f4F12Ead9f65DDf"
  RELAYER_DA_DEPLOY_HEIGHT: "20620434"
  RELAYER_LOG_PAGE_SIZE: "2000"
  SYNC_HEADER_BATCH_SIZE: "100"
  RESERVED_NODES: "/dnsaddr/mainnet.fuel.network"
  CHAIN_CONFIG: "mainnet"
  {{- else if eq $publisher.network "testnet" }}
  RELAYER_V2_LISTENING_CONTRACTS: "0x01855B78C1f8868DE70e84507ec735983bf262dA"
  RELAYER_DA_DEPLOY_HEIGHT: "5827607"
  RELAYER_LOG_PAGE_SIZE: "2000"
  SYNC_HEADER_BATCH_SIZE: "100"
  RESERVED_NODES: "/dns4/p2p-testnet.fuel.network/tcp/30333/p2p/16Uiu2HAmDxoChB7AheKNvCVpD4PHJwuDGn8rifMBEHmEynGHvHrf,/dns4/p2p-testnet.fuel.network/tcp/30333/p2p/16Uiu2HAmHnANNk4HjAxQV66BNCRxd2MBUU89ijboZkE69aLuSn1g,/dns4/p2p-testnet.fuel.network/tcp/30333/p2p/16Uiu2HAmVE468rpkh2X1kzz8qQXmqNFiPxU5Lrya28nZdbRUdVJX"
  CHAIN_CONFIG: "testnet"
  {{- end }}
