[package]
name = "sv-consumer"
description = "Service that consumers new blocks from the emitter"
authors = { workspace = true }
keywords = { workspace = true }
edition = { workspace = true }
homepage = { workspace = true }
license = { workspace = true }
repository = { workspace = true }
version = { workspace = true }
rust-version = { workspace = true }
publish = false

[[bin]]
name = "sv-consumer"
path = "src/main.rs"

[dependencies]
anyhow = { workspace = true }
async-nats = { workspace = true }
async-trait = { workspace = true }
bincode = { workspace = true }
clap = { workspace = true }
dotenvy = { workspace = true }
fuel-core = { workspace = true, default-features = false, features = ["p2p", "relayer", "rocksdb"] }
fuel-message-broker = { workspace = true }
fuel-streams-core = { workspace = true, features = ["test-helpers"] }
fuel-streams-executors = { workspace = true, features = ["test-helpers"] }
fuel-streams-store = { workspace = true }
fuel-web-utils = { workspace = true }
futures = { workspace = true }
hex = { workspace = true }
num_cpus = { workspace = true }
prometheus = { version = "0.13", features = ["process"] }
serde = { workspace = true }
serde_json = { workspace = true }
thiserror = { workspace = true }
tokio = { workspace = true }
tokio-util = "0.7.13"
tracing = { workspace = true }
tracing-subscriber = { workspace = true, features = ["local-time"] }

[features]
default = []
test-helpers = []

[target.x86_64-unknown-linux-gnu.dependencies]
openssl = { version = "0.10.68", features = ["vendored"] }

[target.x86_64-unknown-linux-musl.dependencies]
openssl = { version = "0.10.68", features = ["vendored"] }

[target.aarch64-unknown-linux-gnu.dependencies]
openssl = { version = "0.10.68", features = ["vendored"] }

[target.aarch64-unknown-linux-musl.dependencies]
openssl = { version = "0.10.68", features = ["vendored"] }
