{{- $cert := .Values.natsExternalService.certificate}}
{{- $service := .Values.natsExternalService.service }}
{{- if and .Values.natsExternalService.enabled $service.dns }}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  {{- include "k8s.metadata" (dict "context" . "suffix" "-nats-cert-validator") | nindent 2 }}
  labels:
    {{- include "fuel-streams.labels" . | nindent 4 }}
    {{- include "set-value" (dict "context" $cert "path" "labels") | nindent 4 }}
    app.kubernetes.io/service: external-ws
  annotations:
    cert-manager.io/cluster-issuer: {{ $cert.issuer }}
    kubernetes.io/ingress.class: nginx
    acme.cert-manager.io/http01-ingress-class: nginx
    nginx.ingress.kubernetes.io/ssl-redirect: "false"
    nginx.ingress.kubernetes.io/force-ssl-redirect: "false"
    {{- include "set-value" (dict "context" $cert "path" "annotations") | nindent 4 }}
spec:
  ingressClassName: nginx
  rules:
    - host: {{ $service.dns }}
      http:
        paths:
          - path: /.well-known/acme-challenge/
            pathType: Prefix
            backend:
              service:
                name: cm-acme-http-solver
                port:
                  number: 8089
---
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  {{- include "k8s.metadata" (dict "context" . "suffix" "-nats-cert") | nindent 2 }}
  labels:
    {{- include "fuel-streams.labels" . | nindent 4 }}
    {{- include "set-value" (dict "context" $cert "path" "labels") | nindent 4 }}
    app.kubernetes.io/service: external-ws
    app.kubernetes.io/component: {{ include "fuel-streams.fullname" . }}-nats-client
    app.kubernetes.io/instance: {{ include "fuel-streams.fullname" . }}-nats-client
    app.kubernetes.io/name: {{ include "fuel-streams.fullname" . }}-nats-client
  annotations:
    {{- include "set-value" (dict "context" $cert "path" "annotations") | nindent 4 }}
spec:
  secretName: {{ include "fuel-streams.fullname" . }}-nats-tls
  duration: {{ $cert.duration }}
  renewBefore: {{ $cert.renewBefore }}
  dnsNames:
    - {{ $service.dns }}
  issuerRef:
    name: {{ $cert.issuer }}
    kind: ClusterIssuer
{{- end }}
