{{- $nats := .Values.nats }}
{{- $tls := $nats.tls }}
{{- if and $tls.enabled $nats.dns }}
# Certificate Validator Ingress
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  {{- include "k8s.metadata" (dict "context" . "suffix" "-cert-validator") | nindent 2 }}
  labels:
    {{- include "fuel-streams.labels" . | nindent 4 }}
    app.kubernetes.io/component: nats
  annotations:
    cert-manager.io/cluster-issuer: {{ $tls.issuer }}
    kubernetes.io/ingress.class: nginx
    acme.cert-manager.io/http01-ingress-class: nginx
    nginx.ingress.kubernetes.io/ssl-redirect: "false"
    nginx.ingress.kubernetes.io/force-ssl-redirect: "false"
    {{- include "set-value" (dict "context" $tls "path" "annotations") | nindent 4 }}
spec:
  ingressClassName: nginx
  rules:
    - host: {{ $nats.dns }}
      http:
        paths:
          - path: /.well-known/acme-challenge/
            pathType: Prefix
            backend:
              service:
                name: cm-acme-http-solver
                port:
                  number: 8089
---
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  {{- include "k8s.metadata" (dict "context" . "suffix" "-ws-cert") | nindent 2 }}
  labels:
    {{- include "fuel-streams.labels" . | nindent 4 }}
    app.kubernetes.io/component: nats
spec:
  secretName: {{ include "fuel-streams.fullname" . }}-ws-tls
  duration: {{ $tls.duration }}
  renewBefore: {{ $tls.renewBefore }}
  dnsNames:
    - {{ $nats.dns }}
  issuerRef:
    name: {{ $tls.issuer }}
    kind: ClusterIssuer
{{- end }}
