[package]
name = "fuel-streams-core"
description = "Core components for working with streams of Fuel blockchain data"
authors = { workspace = true }
keywords = { workspace = true }
edition = { workspace = true }
homepage = { workspace = true }
license = { workspace = true }
repository = { workspace = true }
version = { workspace = true }
rust-version = { workspace = true }

[dependencies]
anyhow = { workspace = true }
async-nats = { workspace = true }
async-trait = { workspace = true }
displaydoc = { workspace = true }
dotenvy = { workspace = true }
fuel-core = { workspace = true, default-features = false, features = [
    "p2p",
    "relayer",
    "rocksdb",
    "test-helpers",
] }
fuel-core-bin = { workspace = true, default-features = false, features = [
    "p2p",
    "relayer",
    "rocksdb",
] }
fuel-core-client = { workspace = true, default-features = false, features = ["std"] }
fuel-core-importer = { workspace = true }
fuel-core-services = { workspace = true, default-features = false, features = ["test-helpers"] }
fuel-core-storage = { workspace = true }
fuel-core-types = { workspace = true, default-features = false, features = ["std", "serde"] }
fuel-streams-macros = { workspace = true }
fuel-streams-nats = { workspace = true, features = ["test-helpers"] }
fuel-streams-store = { workspace = true }
futures = { workspace = true }
hex = { workspace = true }
pretty_assertions = { workspace = true, optional = true }
serde = { workspace = true }
serde_json = { workspace = true }
thiserror = { workspace = true }
tokio = { workspace = true }
tracing = { workspace = true }

[dev-dependencies]
pretty_assertions = { workspace = true }
serde_json = { workspace = true }

[features]
default = []
test-helpers = ["dep:pretty_assertions"]
