[package]
name = "fuel-streams-core"
authors = { workspace = true }
keywords = { workspace = true }
edition = { workspace = true }
homepage = { workspace = true }
license = { workspace = true }
repository = { workspace = true }
publish = false
version = "0.0.0"

[dependencies]
anyhow = { workspace = true }
async-nats = { workspace = true }
async-trait = { workspace = true }
buildstructor = "0.5.4"
bytes = { workspace = true }
displaydoc = { workspace = true }
dotenvy = { workspace = true }
fuel-core = { workspace = true }
fuel-core-client = { workspace = true }
fuel-core-types = { workspace = true }
fuel-data-parser = { path = "../fuel-data-parser" }
fuel-streams-macros = { path = "../fuel-streams-macros" }
futures-util = { workspace = true }
pretty_assertions = { workspace = true, optional = true }
rand = { workspace = true }
serde = "1.0.204"
serde_json = { workspace = true }
strum = { workspace = true }
strum_macros = { workspace = true }
thiserror = { workspace = true }
tokio = { workspace = true }
tracing = { workspace = true }

[dev-dependencies]
pretty_assertions = { workspace = true }

[features]
default = []
test-helpers = ["dep:pretty_assertions"]
