[package]
name = "sv-dune"
description = "Fuel library for processing live and historical data for dune analytics"
authors.workspace = true
edition.workspace = true
homepage.workspace = true
keywords.workspace = true
license.workspace = true
repository.workspace = true
rust-version.workspace = true
version.workspace = true
publish = false

[[bin]]
name = "sv-dune"
path = "src/main.rs"

[dependencies]
anyhow.workspace = true
apache-avro.workspace = true
async-trait.workspace = true
aws-config = { version = "1.5.10", features = ["behavior-version-latest"] }
aws-sdk-s3 = "1.71.0"
clap.workspace = true
derive_more.workspace = true
displaydoc.workspace = true
dotenvy.workspace = true
fuel-core-client = { workspace = true }
fuel-core-services = { workspace = true }
fuel-core-types = { workspace = true, features = ["serde", "std"] }
fuel-indexer-types = { git = "https://github.com/FuelLabs/fuel-rust-indexer" }
fuel-receipts-manager = { git = "https://github.com/FuelLabs/fuel-rust-indexer", features = ["blocks-subscription"] }
fuel-streams-domains = { workspace = true, features = ["test-helpers"] }
fuel-streams-types = { workspace = true, features = ["test-helpers"] }
fuel-web-utils = { workspace = true, features = ["test-helpers"] }
futures = "0.3.31"
rand.workspace = true
serde.workspace = true
serde_bytes = "0.11.17"
serde_json.workspace = true
thiserror.workspace = true
tokio.workspace = true
tracing.workspace = true
url = "2.5.7"

[dev-dependencies]
pretty_assertions.workspace = true
tempfile = "3"
tokio = { workspace = true, features = [
    "rt-multi-thread",
    "macros",
    "test-util",
] }
tracing-test = "0.2.0"
fuel-core = { workspace = true, features = ["rocksdb", "test-helpers"] }
