[package]
name = "fuel-web-utils"
description = "Fuel library for web utils"
authors.workspace = true
edition.workspace = true
homepage.workspace = true
keywords.workspace = true
license.workspace = true
repository.workspace = true
rust-version.workspace = true
version.workspace = true

# in an individual package Cargo.toml
[package.metadata.cargo-machete]
ignored = ["fuel-data-parser"]

[features]
default = []
test-helpers = []

[dependencies]
anyhow.workspace = true
tokio = { workspace = true, features = ["signal"] }
tokio-util = "0.7.13"
tracing.workspace = true
tracing-subscriber.workspace = true
