# general settings
namespace: fuel-local
clusterBaseUrl: svc.cluster.local
serviceAccount: local-fuel-serviceaccount
disableResourceLimits: false
waitForServiceDependencies: true
# Only start absolutely required jobs
onlyRequiredBaseServices: false

docker:
  registry: registry.dev.svc.cluster.local:5000

roles:
  create: true

# service settings
grafana:
  image: "grafana/grafana"
  tag: "7.2.1"

prometheus:
  image: "prom/prometheus"
  tag: "v2.22.0"

elasticsearch:
  enabled: true
  storage: "100Mi"
  image: "docker.elastic.co/elasticsearch/elasticsearch"
  tag: "7.10.2"
  configFilesFolders: {}

monitoring:
  enabled: true
  configFilesFolders: {}

kibana:
  enabled: true
  image: "docker.elastic.co/kibana/kibana"
  tag: "7.6.2"

# Resource profiles for all containers.
# This allows to easily override requests and limits via additional values file.
resourceProfile:
  grafana:
    requests:
      cpu: 0.05
      memory: 10Mi
    limits:
      cpu: 1
      memory: 500Mi
  prometheus:
    requests:
      cpu: 0.05
      memory: 10Mi
    limits:
      cpu: 1
      memory: 500Mi
  elasticsearch:
    requests:
      cpu: 0.05
      memory: 500Mi
    limits:
      cpu: 0.5
      memory: 2Gi
  kibana:
    requests:
      cpu: 0.05
      memory: 400Mi
    limits:
      cpu: 0.2
      memory: 700Mi

fuel-streams-publisher:
  # You dont need to setup your secrets here because they will be generated automatically by Tilt
  image:
    repository: "fuel-streams-publisher"
    pullPolicy: Never
    tag: latest

  persistence:
    data:
      size: 50Gi
      storageClass: standard
    temp:
      size: 5Gi
      storageClass: standard

fuel-nats:
  container:
    env:
      NATS_SYSTEM_PASS: temp-system-pass
      NATS_ADMIN_PASS: temp-admin-pass
