name: Publish on Crates.io

on:
  release:
    types:
      - published

env:
  CI: true
  RUST_VERSION: 1.79.0

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  publish-crates:
    name: Publish on Crates.io
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install toolchain
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: ${{ env.RUST_VERSION }}
          target: x86_64-unknown-linux-gnu,wasm32-unknown-unknown

      - name: Publish Crate
        uses: katyo/publish-crates@v2
        with:
          publish-delay: 60000
          registry-token: ${{ secrets.CARGO_REGISTRY_TOKEN }}
