name: Publish on Crates.io

on:
  release:
    types:
      - published

env:
  CI: true
  RUST_VERSION: 1.81.0

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  publish-crates:
    name: Publish on Crates.io
    runs-on: ubuntu-latest
    environment: npm-deploy
    steps:
      - uses: actions/checkout@v4

      - name: Install Rust
        uses: ./.github/actions/setup-rust
        with:
          toolchain: ${{ env.RUST_VERSION }}
          target: x86_64-unknown-linux-gnu,wasm32-unknown-unknown

      - name: Publish Crate
        uses: katyo/publish-crates@v2
        id: publish-crates
        with:
          publish-delay: 60000
          registry-token: ${{ secrets.CARGO_REGISTRY_TOKEN }}
          ignore-unpublished-changes: true
